/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Circular Spotify Tx T', sans-serif;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Med.woff2') format('woff2'),
    url('../fonts/circular/CircularSpotifyTxT-Med.woff') format('woff'),
    url('../fonts/circular/CircularSpotifyTxT-Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Book.woff2') format('woff2'),
    url('../fonts/circular/CircularSpotifyTxT-Book.woff') format('woff'),
    url('../fonts/circular/CircularSpotifyTxT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Bold.woff2') format('woff2'),
    url('../fonts/circular/CircularSpotifyTxT-Bold.woff') format('woff'),
    url('../fonts/circular/CircularSpotifyTxT-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Light.woff2') format('woff2'),
    url('../fonts/circular/CircularSpotifyTxT-Light.woff') format('woff'),
    url('../fonts/circular/CircularSpotifyTxT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Black.woff2') format('woff2'),
    url('../fonts/circular/CircularSpotifyTxT-Black.woff') format('woff'),
    url('../fonts/circular/CircularSpotifyTxT-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ALles van de header */
section.nav-flex-sticky {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: #000;
  width: 100%;
  z-index: 1;
}

.nav-flex-sticky a img {
  /* width: 40%; */
  height: 6vh;
  margin: .5em 0 0 1em;
}

#menu {
  width: 1.5625em;
  height: 0.625em;
  margin: 1.25em;
  cursor: pointer;
}

.bar {
  height: 0.25em;
  width: 100%;
  background-color: #fff;
  display: block;
  border-radius: 0.3125em;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-0.25em);
}

#bar3 {
  transform: translateY(0.25em);
}

.nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.875em;
  padding-bottom: 0;
}

.nav li a:hover {
  font-weight: bold;
  color: #20d760;
}

.nav li a:active {
  color: #1d75de;
}

.nav li {
  list-style: none;
  padding: 1em 0;
}

.nav {
  text-align: left;
  padding: 5em 0 10em 1em;
  display: none;
}

#menu-bar {
  top: 0;
  right: 0;
  position: absolute;
}

#menu-bar {
  z-index: 2;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(0.25em) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-0.25em) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

/* main section 1 */
article {
  padding: 5em 1.25em 0 1.25em;
  text-align: center;
}

img {
  width: 10em;
  margin: 1em 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 0.875em;
  letter-spacing: 0.015625em;
  margin: 1em 0 1.875em;
  font-weight: 300;
  font-style: normal;
}

section.start a {
  color: black;
  font-size: 0.625em;
}

/* alle classes onder elkaar */
.logo-spotify {
  width: 6.5em;
  /* margin: .6em 0 .6em 1em; */
}

.logo-spotify-footer {
  width: 6.5em;
  margin: 2.6em 0 .6em 1em;
}

.start {
  background-color: #ff4532;
}

.start-header-article {
  padding-bottom: 5em;
}

.p-spremium {
  font-size: 0.875em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin: 0;
  display: inline-block;
}

.btn-3mth-free {
  background: #000;
  border-radius: 31.25em;
  text-decoration: none;
  padding: 1.0625em 3em;
  color: #fff !important;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625em;
}

.individual-p {
  margin-top: 1.875em;
  font-size: 0.8125em;
}

.individual-p:nth-of-type(3) {
  margin-top: 0;
  font-size: 0.8125em;
}

/* main section 2 */
.sect-second {
  background: #2d46b9;
  text-align: center;
  color: #1ed760;
  padding-bottom: 13.5em;
}

.sect-second h2 {
  margin-top: 0;
  padding-top: 2em;
  text-transform: uppercase;
  font-size: 0.875em;
  margin-bottom: 4em;
}

.sect-second h4 {
  font-size: 1.875em;
  margin: 0;
  padding: 0;
  max-width: 19.625em;
  margin-right: 0;
  line-height: 1.1em;
}

.sect-second h3 {
  font-size: 0.875em;
  margin: 1em 0 2.5em;
}

.sect-second a {
  font-size: 0.875em;
  line-height: 1;
  border-radius: 31.25em;
  padding: 1em 2.5em 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1ed760;
  color: #2d46b9;
  text-decoration: none;
  font-weight: 700;
}

/* alle css van de footer */
footer {
  margin-top: 2em;
}

.footer-links ul {
  padding: 2em 0 2em 1em;
  list-style-type: none;
}

.footer-links li {
  color: #fff;
  font-size: 1em;
  padding-top: 1.5em;
}

.footer-links li a:hover {
  color: #20d760;
}

.footer-links li:nth-of-type(1) {
  color: #919496;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
}

/* Alles van premium.html */
section.start-premium {
  background-color: #1d75de;
  color: #fff;
}

article.premium-article {
  padding-bottom: 1em;
}

section.text-left {
  text-align: left;
}

section.premium-article-section {
  display: flex;
  flex-direction: column;
}

.premium-article h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.flex-row-links {
  display: flex;
  flex-direction: column;
}

.flex-row-links a:nth-of-type(2) {
  border: 0.125em solid #fff;
  border-radius: 18.75em;
  text-decoration: none;
  padding: 1.5em 1.5em;
  margin-top: .5em;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875em;
}

.flex-row-links a:nth-of-type(1) {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 1.5em 1.5em;
  border-radius: 18.75em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.premium-article-section p {
  font-size: 0.75em;
  margin-top: 2em;
  text-align: left;
}

article.premium-article img {
  margin-top: 5em;
  width: 100%;
  height: 100%;
}

.waarom-premium {
  background-color: #fff;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.waarom-premium h1 {
  font-size: 2em;
}

.premium-imgs {
  width: 30%;
}

.flex-row-links a:hover {
  color: #20d760;
}

article.waarom-premium section h6 {
  font-size: 1.3125em;
}

article.waarom-premium section p {
  font-size: 1em;
}

.kies-premium {
  background-color: #eeeeee;
  padding-bottom: 1.5em;
}

.kies-premium h2 {
  font-size: 1.875em;
  font-weight: 700;
  margin-bottom: .33em;
}

.kies-premium h3 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 1.5em;
}

.premium-card {
  border-radius: 0.3125em;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.47);
  padding-top: 1.25em;
  padding-left: 1.1875em;
  text-align: left;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%;
  background-color: #fff;
}

.premium-card p:nth-of-type(1) {
  background-color: #2e77d0;
  padding: .3em .3em .3em .5em;
  margin-bottom: 1.25em;
  font-weight: 700;
  width: 30%;
  border-radius: 0.3125em;
  font-size: 0.875em;
  color: #fff;
}

.premium-card p:nth-of-type(3) {
  border-bottom: 1px solid #b7b6b6;
  width: 90%;
  padding-bottom: 1.2em;
}

.premium-card ul {
  margin-top: 2em;
}

.premium-card ul li {
  padding-top: 1em;
}

.premium-card ul li:nth-of-type(3) {
  margin-bottom: 2em;
}

.premium-card p:nth-of-type(4) {
  font-size: 0.625em;
  color: #535353;
  margin-top: 4em;
}

.premium-card a {
  text-decoration: none;
  color: #fff;
  background-color: #1db954;
  text-align: center;
  padding: 1em 4em 1em 4em;
  border-radius: 6.25em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

section.kies-premium-div {
  display: flex;
  flex-direction: row;
}

.kies-premium div {
  height: 1em;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes jump {
  0% {
    transform: none;
  }

  10% {
    transform: scale(1.2, .8);
  }

  20% {
    transform: scale(.6, 1.5) translateY(-.25em);
    color: #20d760;
  }

  30% {
    transform: scale(1.3, .7);
  }

  40% {
    transform: scale(.9, 1.1);
  }

  50% {
    transform: none;
  }

  100% {
    transform: none;
  }
}

section.kies-premium-div {
  font-weight: 700;
}

section.kies-premium-div div {
  width: auto;
  transform-origin: center bottom;
  animation-name: jump;
  animation-duration: 2.25s;
  animation-iteration-count: 5;
  animation-play-state: paused;
}

section.kies-premium-div div:nth-of-type(1) {
  animation-delay: 0s;
}

section.kies-premium-div div:nth-of-type(2) {
  animation-delay: .15s;
}

section.kies-premium-div div:nth-of-type(3) {
  animation-delay: .3s;
}

section.kies-premium-div div:nth-of-type(4) {
  animation-delay: .45s;
}

section.kies-premium-div div:nth-of-type(5) {
  animation-delay: .6s;
}

section.kies-premium-div div:nth-of-type(6) {
  animation-delay: .75s;
}

section.kies-premium-div div:nth-of-type(7) {
  animation-delay: .9s;
}

section.kies-premium-div div:nth-of-type(8) {
  animation-delay: 1.05s;
}

section.kies-premium-div div:nth-of-type(9) {
  animation-delay: 1.2s;
}

section.kies-premium-div div:nth-of-type(10) {
  animation-delay: 1.35s;
}

section.kies-premium-div div:nth-of-type(11) {
  animation-delay: 1.5s;
}

section.kies-premium-div div:nth-of-type(12) {
  animation-delay: 1.65s;
}

section.kies-premium-div div:nth-of-type(13) {
  animation-delay: 1.8s;
}

section.kies-premium-div div:nth-of-type(14) {
  animation-delay: 1.95s;
}

section.kies-premium-div div:nth-of-type(15) {
  animation-delay: 2.1s;
}

section.kies-premium-div div:nth-of-type(16) {
  animation-delay: 2.25s;
}

section.kies-premium-div:hover div {
  animation-play-state: running;
}

.premium-card a:hover {
  background-color: #1d75de;
}

/* index.html media queries: */
@media screen and (min-width: 500px) {
  .nav-flex-sticky a img {
    width: auto;
    height: 5vh;
  }
}

@media screen and (min-width: 990px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
}

@media screen and (min-width: 900px) {
  .nav-flex-sticky a img {
    width: auto;
    height: 6vh;
    padding-left: 3em;
  }

  #menu {
    display: none;
  }

  #nav {
    position: fixed;
    top: -1em;
    right: 6em;
    z-index: 1;
  }

  #nav li a {
    padding: 1em;
    font-size: 1.1em;
    font-weight: 700;
  }

  .flex-premium-column {
    display: flex;
    flex-direction: column;
  }

  .flex-premium-column img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  section.sect-second {
    text-align: left;
    padding: 5em 0 16em 14em;
  }

  section.sect-second h2 {
    letter-spacing: .125em;
  }

  section.sect-second h4 {
    font-size: 4em;
    width: 30%;
    line-height: 1em;
  }

  section.sect-second h3 {
    font-size: 1.1em;
  }

  .kies-premium div {
    font-size: 3em;
  }

  section.kies-premium-div {
    position: relative;
    top: 0;
    left: 31em;
  }

  article.article-premium {
    padding: 3em 0 10em 7em;
  }

  .flex-row-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .premium-article-section a:nth-of-type(1) {
    width: 27%;
    height: 10%;
    /* padding: 1em; */
    font-weight: 700;
    font-size: 14px;
    margin-right: 1em;
  }

  .premium-article-section a:nth-of-type(2) {
    width: 27%;
    height: 15%;
    font-weight: 700;
    margin: 0;
  }

  .flex-row-img {
    display: flex;
    flex-direction: row;
    padding: 5em 0 15em 0;
  }

  section.text-left h2:nth-of-type(1) {
    font-size: 5em;
    margin-bottom: 0;
  }

  section.text-left h2:nth-of-type(2) {
    font-size: 1.875em;
  }

  .waarom-premium h1 {
    font-size: 3.5em;
    padding-top: 2.6em;
    font-weight: 700;
  }

  .start-premium {
    padding: 2.5em 0 6em 9em;
  }

  section.flex-row-big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .premium-card {
    width: 24%;
    border-radius: .5em;
  }

  .premium-card p:nth-of-type(1) {
    width: 40%;
  }

  .premium-card a {
    margin-left: 1.4em;
  }

  .link-1 ul li:last-child {
    padding-bottom: 5.7em;
  }

  .link-3 ul li:last-child {
    padding-bottom: 1.5em;
  }

  .link-4 ul li:last-child {
    padding-bottom: 5.7em;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10em;
  }

  .footer-links ul {
    padding: 3em;
  }

  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-links ul li:first-child a {
    color: #919496;
  }

  .btn-3mth-free {
    padding: 2em 4em;
  }

  .btn-3mth-free:hover {
    transition: .7s ease;
    background-color: #1d75de;
  }

  .btn-3mth-free:active {
    border: 1px solid #fff;
  }

  .btn-3mth-free span {
    font-size: 1.6em;
  }

  .start h1 {
    font-size: 3em;
  }
}

/* animatie under construction page */
.construct-h1 {
  color: #20d760;
  padding: 1em 0 0 8em;
}

.container-construct {
  width: 100%;
  height: auto;
  padding-bottom: 200em;
}

.container-construct a {
  text-decoration: none;
  background-color: #20d760;
  color: #fff;
  padding: .8em;
  margin: 33.5em;
}

.container-construct a:hover {
  background-color: #1d75de;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 8em;
  left: 45%;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #20d760;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
