/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Circular Spotify Tx T', sans-serif;
}

@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Med.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Med.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Book.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Book.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Bold.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Light.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Light.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Black.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Black.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ALles van de header */
/* de button */

section.nav-flex-sticky {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: #000;
  z-index: 1;
}

.nav-flex-sticky a img {
  width: 40%;
  height: 6vh;
  margin: .5em 0 0 1em;
}

#menu {
	width: 25px;
	height: 10px;
	margin: 20px;
	cursor: pointer;
}

.bar {
	height: 4px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav li a {
	color: #fff;
	text-decoration: none;
  font-size: 30px;
}

.nav li a:hover {
	font-weight: bold;
  color: #20d760;
}

.nav li a:active {
  color: #1d75de;
}

.nav li a:focus {
  /* border: 3px solid #1d75de; */
}

.nav li {
	list-style: none;
	padding: 16px 0;
}

.nav {
  text-align: left;
  padding: 5em 0 10em 1em;
  display: none;
}

#menu-bar {
	top: 0;
	right: 0;
	position: absolute;
}

#menu-bar {
	z-index: 2;
}

.change .bar {
	background-color: white;
}

.change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
	transform: translateY(-4px) rotate(45deg);
}

.change #bar2 {
	opacity: 0;
}

.change {
	display: block;
}


/* main section 1 */

article {
  padding: 80px 20px 0 20px ;
  text-align: center;
}

img {
  width: 10em;
  margin: 16px 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 14px;
  letter-spacing: 0.25px;
  margin: 16px 0 30px;
  font-weight: 300;
  font-style: normal;
}

section.start a {
  color: black;
  font-size: 10px;
}

/* alle classes onder elkaar */

.logo-spotify {
  width: 6.5em;
  /* margin: .6em 0 .6em 1em; */
}

.logo-spotify-footer {
  width: 6.5em;
  margin: 2.6em 0 .6em 1em;

}

.start {
  background-color: #ff4532;
}

.start-header-article {
  padding-bottom: 5em;
}

.p-spremium {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin: 0;
    display: inline-block;
}

.btn-3mth-free {
  background: #000;
  border-radius: 500px;
  text-decoration: none;
  padding: 17px 48px;
  color: #fff !important;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.individual-p {
  margin-top: 30px;
  font-size: 13px;
}

.individual-p:nth-of-type(3) {
  margin-top: 0;
  font-size: 13px;
}


/* main section 2 */

.sect-second {
  background: #2d46b9;
  text-align: center;
  color: #1ed760;
  padding-bottom: 13.5em;
}

.sect-second h2 {
  margin-top: 0;
  padding-top: 2em;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 4em;
}

.sect-second h4 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  max-width: 314px;
  margin-right: 0;
  line-height: 1.1em;
}

.sect-second h3 {
  font-size: 14px;
  margin: 1em 0 2.5em;
}

.sect-second a {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 40px 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1ed760;
  color: #2d46b9;
  text-decoration: none;
  font-weight: 700;
}

/* alle css van de footer */

footer {
  margin-top: 2em;
}

.footer-links ul {
  padding: 2em 0 2em 1em;
  list-style-type: none;
}

.footer-links li {
  color: #fff;
  font-size: 16px;
  padding-top: 1.5em;
}

.footer-links li:nth-of-type(1) {
  color: #919496;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Alles van premium.html */

section.start-premium {
  background-color: #1d75de;
  color: #fff;
}

article.premium-article {
  padding-bottom: 1em;
}

section.text-left {
  text-align: left;
}

section.premium-article-section {
  display: flex;
  flex-direction: column;
}

.premium-article h2 {
  font-size: 24px;
  font-weight: 600;
}

.premium-article-section a:nth-of-type(2) {
  border: 2px solid #fff;
  border-radius: 300px;
  text-decoration: none;
  padding: 1.5em 1.5em;
  margin-top: .5em;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.premium-article-section a:nth-of-type(1) {
text-decoration: none;
color: #fff;
background-color: #000;
padding: 1em 1.5em;
border-radius: 300px;
text-transform: uppercase;
letter-spacing: 0.15em;
}

.premium-article-section p {
  font-size: 12px;
  margin-top: 2em;
  text-align: left;
}

article.premium-article img {
  margin-top: 5em;
  width: 100%;
  height: 100%;
}

.waarom-premium {
  background-color: #fff;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.waarom-premium h1 {
  font-size: 32px;
}

.premium-imgs {
  width: 30%;
}

article.waarom-premium section {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

article.waarom-premium section h6 {
  font-size: 21px;
}

article.waarom-premium section p {
  font-size: 16px;
}

.kies-premium {
  background-color: #eeeeee;
  padding-bottom: 1.5em;
}

.kies-premium h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: .33em;
}

.kies-premium h3 {
  font-size: 16px;
  font-weight: 400;
}

.premium-card {
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.47);
  padding-top: 20px;
  padding-left: 19px;
  text-align: left;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 100%;
  background-color: #fff;
}

.premium-card p:nth-of-type(1) {
   background-color: #2e77d0;
   padding: .3em .3em .3em .5em;
   margin-bottom: 20px;
   font-weight: 700;
   width: 50%;
   border-radius: 5px;
   font-size: 14px;
   color: #fff;
}

.premium-card p:nth-of-type(3) {
  border-bottom: 1px solid #b7b6b6;
  width: 90%;
  padding-bottom: 1.2em;
}

.premium-card ul {
  margin-top: 2em;
}

.premium-card ul li {
  padding-top: 1em;
}

.premium-card ul li:nth-of-type(3) {
  margin-bottom: 2em;
}

.premium-card p:nth-of-type(4) {
  font-size: 10px;
  color: #535353;
  margin-top: 4em;
}

.premium-card a {
  text-decoration: none;
  color: #fff;
  background-color: #1db954;
  text-align: center;
  padding: 1em 4em 1em 4em;
  border-radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.premium-card a:
/* index.html media queries: */

@media screen and (min-width: 500px) {
  .nav-flex-sticky a img {
    width: 40%;
    height: 7vh;
  }
}

@media screen and (min-width: 990px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
}

@media screen and (min-width: 650px) {
  .nav-flex-sticky a img {
    width: 40%;
    height: 9vh;
  }
}

@media screen and (min-width: 900px) {
  .nav-flex-sticky a img {
    width: 30%;
    height: 10vh;
  }
  /* section.premium-article-section-media {
    display: flex;
    flex-direction: row;
  } */
}
